@charset "utf-8";
/* CSS Document */

#header{
	width:80%;
	height:100px;
	margin-left:10%;
	margin-right:10%;
	border:1px solid black;
}
#mainmenu{
	width:80%;
	height:40px;
	margin-left:10%;
	margin-right:10%;
	border-left:1px solid black;
	border-right:1px solid black;
}
#main{
	width:80%;
	height:600px;
	margin-left:10%;
	margin-right:10%;
	border:1px solid black;
}
#footer{
	width:80%;
	height:100px;
	margin-left:10%;
	margin-right:10%;
	border-left:1px solid black;
	border-right:1px solid black;
	border-bottom:1px solid black;
}
ul.main-menu{
	list-style-type:none;
	margin:0;
	padding:0;
	display:inline-flex;
}
ul.main-menu a{
	text-decoration:none;
}
ul.main-menu li{
	margin-left:20px;
	margin-right:20px;
	margin-top:7px;
}